@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components{
  li{
    @apply hover:text-[#12D3BF] text-sm mb-1 cursor-pointer 
  }
  .btn{
    @apply w-max px-4 py-2 bg-blue-500 text-white text-xl font-[700] border-none rounded-md
  }
  .hoverDisplay{
    @apply hover:bg-[#dddbdb] hover:text-black py-1 pr-2
  }
}